body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    color: #333;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.stats {
    margin: 10px 0;
    font-weight: bold;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #29ddcc;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.dark-mode {
    background-color: #2e3443;
    color: white;
}

.dark-mode textarea {
    background-color: #2e3443;
    color: white;
    border: 1px solid #555;
}

.dark-mode p {
    color: #ccc;
}

.sepia-mode {
    background-color: #F4ECD8;
    color: #5B4636;
}

.sepia-mode textarea {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.sepia-mode p,
.sepia-mode label,
.sepia-mode .stats {
    color: #5B4636;
}